@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactForm>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "HomeLayout.cshtml";
}


<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                @using(Html.BeginUmbracoForm("ContactForm","ContactForm",new {@id="contact"}))
                {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            @Html.TextBox("name","", new { @placeholder = "Enter Name" , @required="required" , @class="form-control" , @id="name"})
                            
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                @Html.TextBox("email","", new { @placeholder = "Enter EmailId" , @required="required" , @class="form-control" , @id="name", @type="email"})</div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                                
                                @Html.DropDownList("messageType", new List<SelectListItem>{  
                                        new SelectListItem{ Text="Query", Value = "Query" },  
                                        new SelectListItem{ Text="Suggestions", Value = "Suggestions" },  
                                        new SelectListItem{ Text="Product Support", Value = "Product Support" }}
                                        ,new {@class="form-control", @required="required" ,@id="subject"})  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                                @Html.TextArea("message","",new {@class="form-control",@id="message" ,@rows="9", @cols="25", @placeholder="Enter your message here"})
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" name="submit" onClick=document.getElementById("contact") class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                            
                            @if(@ViewBag.Success!=null)
                            {
                                <font color="green">@ViewBag.Success</font>
                                
                            }
                            
                    </div>
                </div>
                }
                <button type="submit" name="submit" onClick=myFunction() class="btn btn-primary pull-right" id="btnContactUs">
                            Reset</button>
            </div>
        </div>
        <div class="col-md-4">
            <legend>
                <span class="glyphicon glyphicon-globe"></span>Our office
            </legend>
            <address>
         <strong>@Model.GetPropertyValue("companyName")</strong><br>
         @Model.GetPropertyValue("address")<br>
         Phone No.:@Model.GetPropertyValue("phoneNo")
            </address>
            <address>
                <strong>Full Name</strong><br>
               <a href="mailto:#">@Model.GetPropertyValue("emailId")</a>
            </address>
        </div>
    </div>
</div>
<br><br>
<hr>
