@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

@using(@Html.BeginUmbracoForm("ForgotPassword","Login"))
{
   <div class="Login">
       <center> 
            @Html.TextBox("email","",new {@placeholder="Enter registerd email" , @required="required"}) <br>
            @if(@ViewBag.EmailFound=="Valid")
            {
               @Html.Password("New password","",new {@placeholder="New Password", @required="required"}) <br />
               @Html.Password("Confirm password", "", new { @placeholder = "New Password", @required = "required" }) <br />
            }
            else
            {
             <h5><font color="red">@ViewBag.EmailFound</font></h5>
           }
           @if(@ViewBag.InvalidPassword!=null)
           {
             <h5><font color="red">@ViewBag.InvalidPassword</font></h5>
           }
            <input type="submit" value="submit">
           @if(@ViewBag.PasswordChange!=null)
           {
                <h5 style="text-align:center"><font color="green">@ViewBag.PasswordChange</font></h5>
           }
       </center>
   </div>
}